<table style="width:100%" border="1" cellpadding="10" cellspacing="0">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Price</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let book of books">
    <td>
      <input type="text" [(ngModel)]="book.title" />
    </td>

    <td>
      <input type="text" [(ngModel)]="book.author" />
    </td>

    <td>
      <input type="text" [(ngModel)]="book.price" />
    </td>

    <td><button (click)="deleteBook(book)">Delete</button></td>
  </tr>
</table>
<br />
<button (click)="addNewBook()">Add New Book</button>
<button (click)="display()">Display</button>

<br />
<br />

<div>
  {{ data }}
</div>
