p {
  font-family: Lato;
}

a {
  border: 1px solid #999;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  border-radius: 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

a:hover {
  background-color: cyan;
}

.selected {
  background-color: aqua;
}
